.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.navbar {
  align-self: flex-end;
}

.progressBar {
  position: relative;
  height: 20px;
}

.progressBarInner {
  background-color: green;
  height: 100%;
  position: absolute;
  transition: width 500ms ease;
}

.firstItem {
  position: absolute;
}

.secondItem {
  position: absolute;
}

.lastItem {
  position: absolute;
}

.active {
  color: red;
}

.favoriateMerchant {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.status {
  font-size: 12px;
  font-style: italic;
  color: #ccc;
}

.done {
  color: green;
}
