.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.navbar {
  align-self: flex-end;
}

.progressBar {
  position: relative;
  height: 20px;
  background-color: #eee;
}

.progressBarInner {
  background-color: orange;
  height: 100%;
  position: absolute;
  transition: width 500ms ease;
}

.firstItem {
  position: absolute;
  background-color: white !important;
}

.firstItemIcon {
  position: absolute;
  background-color: #ccc;
  border-radius: 20px;
  padding: 10px 12px;
  top: -10px;
}

.secondItem {
  position: absolute;
}

.secondItemIcon {
  position: absolute;
  background-color: #ccc;
  border-radius: 20px;
  padding: 10px 12px;
  top: -10px;
}

.lastItem {
  position: absolute;
}

.lastItemIcon {
  position: absolute;
  background-color: #ccc;
  border-radius: 20px;
  padding: 10px 12px;
  top: -10px;
}

.active {
  color: red;
  background-color: #48ee48 !important;
}

.favoriateMerchant {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.status {
  font-size: 12px;
  font-style: italic;
  color: red;
}

.done {
  color: green;
}

.retailersList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.retailerCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  justify-content: space-between;
}

.number {
  background-color: orange;
  border-radius: 20px;
  padding: 5px 11px;
  margin-right: 5px;
}

